extends layouts/base

block content
   p Hi #{volunteer},
   p= reason
   h2= mission
   p It starts on #{start} and ends on #{end}.
   p You can view the mission on your dashboard:
   a(href=host + link)= host + link
