extends layouts/base

block content
   p Hi #{name},
   p #{reason}:
   h2= mission
   p It starts on #{start} and ends on #{end}.
   p You can view the mission on your dashboard: #[a(href=link)= link]
